// colors
$primary: #605bff;
$main: #030229;
$black: #000;
$white: #fff;
$white2: #f7f7f8;
// fonts
$mainFont: "Nunito", sans-serif;
$mulish: "Mulish", sans-serif;
$plusJakarta: "Plus Jakarta Sans", sans-serif;
$poppins: "Poppins", sans-serif;
