// 1450px
@include xxxxlg-xxxxxlg {
    // @include intro-xxxxlg-xxxxxlg;
}
// 1380px
@include xxxlg-xxxxlg {
    @include intro-xxxlg-xxxxlg;
    @include info-xxxlg-xxxxlg;

}
// 1250px
@include xlg-xxlg-extra {
    @include intro-xlg-xxlg-extra;
}
// 1180px
@include xlg-xxlg {
    .auto__container {
        padding: 0 20px;
    }
    h5 {
        font-size: 22px;
        line-height: 28px;
    }
    .button {
        &.sm {
            font-size: 11px;
            line-height: 15px;
        }
        span {
            width: 10px;
            height: 10px;
            margin-right: 8px;
        }
    }
    .table {
        border-spacing: 0 8px;
        tr {
            th {
                padding: 5px;
            }
            td {
                padding: 10px 5px;
                width: 16%;
                &:first-child {
                    width: 26%;
                    padding-left: 16px;
                }
            }
        }
    }
    @include intro-xlg-xxlg;
    @include dash-xlg-xxlg;
    @include info-xlg-xxlg;

}
// 1024px
@include lg-xlg {
    ::-webkit-scrollbar{
        display: none;
    }
    @include sidebar-lg-xlg;
    @include intro-lg-xlg;
    @include dash-lg-xlg;

}
// 930px
@include md-lg {
    .table {
        tr {
            th {
                font-size: 10px;
                line-height: 14px;
                span {
                    width: 5px;
                    margin: 2px 0 0 5px;
                }
            }
            td {
                font-size: 12px;
                line-height: 16px;
                padding: 6px 5px;
                    width: 14%;
                &:last-child {
                    width: 6%;
                }
                &:first-child {
                    padding-left: 10px;
                }
                &:nth-child(2){
                    width: 23%;
                }
                &:nth-child(3){
                    width: 17%;
                }
                span {
                    width: 24px;
                    height: 24px;
                    margin-right: 6px
                }
                p {
                    &.male {
                        font-size: 12px;
                        line-height: 16px;
                        border-radius: 14px;
                        max-width: 54px;

                    }
                    &.female {
                        font-size: 12px;
                        line-height: 16px;
                        border-radius: 14px;
                        max-width: 64px;
                    }
                    &.team {
                        font-size: 10px;
                        line-height: 14px;
                        max-width: 44px;
                        padding: 4px;
                        border-radius: 6px;
                    }
                }
            }
        }
    }
    h5 {
        font-size: 18px;
        line-height: 24px;
    }
    .button {
        &.sm {
            font-size: 10px;
            line-height: 14px;
            padding: 6px 15px;
        }
        span {
            width: 8px;
            height: 8px;
            margin-right: 6px;
        }
    }
    @include intro-md-lg;
    @include dash-md-lg;
    @include info-md-lg;

}
// 750px
@include sm-md {
    .table {
        min-width: 670px;
    }
    h5 {
        font-size: 16px;
        line-height: 22px;
    }
    .auto__container {
        padding: 0 15px;
    }
    @include intro-sm-md;
    @include dash-sm-md;
    @include info-sm-md;

}
// 650px
@include sm-md-extra {
    @include intro-sm-md-extra;
}
// 540px
@include xsm-sm  {
    .upload {
        &__inner {
            padding: 20px;
            h5 {
                margin-bottom: 15px;
            }
            .button {
                font-size: 14px;
                line-height: 20px;
                padding: 10px;
            }
        }
        .drop {
            &-zone {
                height: 260px;
                margin-bottom: 20px
            }
        }
    }
    @include intro-xsm-sm;
    @include dash-xsm-sm;
    @include sidebar-xsm-sm;
    @include info-xsm-sm;

}
// 440px
@include xxsm-xsm  {
    @include intro-xxsm-xsm;
}
// 390px
@include xxxsm-xxsm  {
    // @include intro-xxxsm-xxsm;
}

